<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tarefa</title>
</head> 
<body>
    <div class="container">
        <header>
            <h1>Header</h1>
        </header>
        <div class="flex-container">
            <aside>
                <h1>Aside</h1>
            </aside>
            <article>
                <h1>Article</h1>
                <div class="galery">
                    <p id="imagem">Image</p>
                    <p id="imagem">Image</p>
                    <p id="imagem">Image</p>
                </div>
            </article>
        </div>
        <footer>
            <h1>Footer</h1>
        </footer>
    </div>
</body>